version: "3.8"

services:
  redis:
    image: redis:7.4.2-alpine
    restart: always
    volumes:
      - ./redis_data:/data:rw
    command: redis-server

  app:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    environment:
      CBS_REDIS_HOST: redis
      CBS_REDIS_PORT: 6379
      CBS_BASEDIR: /base
      CBS_LOG_LEVEL: ${CBS_LOG_LEVEL:-INFO}
      CBS_ENABLE_INBUILT_BUILDER: 0
      CBS_GITHUB_ACCESS_TOKEN: ${CBS_GITHUB_ACCESS_TOKEN}
      CBS_REMOTES_RELOAD_TOKEN: ${CBS_REMOTES_RELOAD_TOKEN}
      PYTHONPATH: /app
      CBS_BUILD_TIMEOUT_SEC: ${CBS_BUILD_TIMEOUT_SEC:-900}
    volumes:
      - ./base:/base:rw
    depends_on:
      - redis
    ports:
      - "127.0.0.1:${WEB_PORT:-8080}:8080"

  builder:
    build:
      context: .
      dockerfile: ./builder/Dockerfile
    restart: always
    stop_grace_period: 5m
    environment:
      CBS_REDIS_HOST: redis
      CBS_REDIS_PORT: 6379
      CBS_BASEDIR: /base
      CBS_LOG_LEVEL: ${CBS_LOG_LEVEL:-INFO}
      PYTHONPATH: /app
      CBS_BUILD_TIMEOUT_SEC: ${CBS_BUILD_TIMEOUT_SEC:-900}
    volumes:
      - ./base:/base:rw
    depends_on:
      - redis
