[
  {
    "name": "ap-static",
    "url": "https://github.com/ardupilot/ardupilot.git",
    "vehicles": [
      {
        "name": "Copter",
        "releases": [
          {
            "release_type": "latest",
            "version_number": "4.6.0",
            "ap_build_atrifacts_url": "https://firmware.ardupilot.org/Copter/latest",
            "commit_reference": "refs/heads/master"
          }
        ]
      }
    ]
  },
  {
    "name": "cool-user-007",
    "url": "https://github.com/cool-user-007/ardupilot.git",
    "vehicles": [
      {
        "name": "Copter",
        "releases": [
          {
            "release_type": "Custom",
            "version_number": "Custom",
            "commit_reference": "refs/tags/Copter-4.5.2"
          }
        ]
      }
    ]
  },
  {
    "name": "ardupilot",
    "url": "https://github.com/ardupilot/ardupilot.git",
    "vehicles": [
      {
        "name": "Copter",
        "releases": [
          {
            "release_type": "latest",
            "version_number": "4.6.0",
            "ap_build_atrifacts_url": "https://firmware.ardupilot.org/Copter/latest",
            "commit_reference": "202cc6ae9d326a172be5ec1120d79595a6ddae36"
          },
          {
            "release_type": "stable",
            "version_number": "4.3.0",
            "ap_build_atrifacts_url": "https://firmware.ardupilot.org/Copter/stable-4.3.0",
            "commit_reference": "93448b71380c417644c9082b7b23e80fb982b626"
          }
        ]
      }
    ]
  }
]