<!doctype html>
<html>

<title>ArduPilot Custom Firmware Builder</title>
<h1>ArduPilot Custom Firmware Builder</h1>

{% if error %}
  <p>{{ error }}!</p>
{% else %}
  <body onload="javascript: reload()">
    <div id="menu">
        <p>Build in progress...</p>
        <form action="{{apache_build_log}}" target="_blank">
            <input type="submit" value="View build log file" />
        </form>
        <form action="{{apache_build_dir}}" target="_blank">
            <input type="submit" value="Go to build directory" />
        </form>
        <form action="{{apache_all_builds}}" target="_blank">
            <input type="submit" value="See all builds" />
        </form>
        <form action="/home" method="post">
            <input type="submit" value="Queue another build" method="post">
        </form>
    </div>
    <p>Build ID: {{ token }}</p>
    <p>Build progress:</p>
    <div id="output">
        <object width="800" height="500" type="text/plain" data="{{apache_build_log}}" border="0" >
        </object>
    </div>
    
    <script>
        function reload(){
            var output = document.getElementById("output");
            var content = output.innerHTML;
            output.innerHTML= content;
            output.scrollTop = output.scrollHeight;
    
        //this line is to watch the result in console , you can remove it later	
        console.log("Refreshed");
        window.setInterval(reload, 5000);
        }
    </script>

  </body>
{% endif %}

</html>