<!doctype html>
<html>

<title>ArduPilot Custom Firmware Builder</title>
<h1>ArduPilot Custom Firmware Builder</h1>

{% if error %}
  <p>{{ error }}!</p>
{% else %}
  <body onload="javascript: reload()">
    <div id="menu">
        <p>Build in progress...</p>
        <form action="{{apache_build_dir}}" target="_blank">
            <input type="submit" value="Go to build directory" />
        </form>
        <form action="{{apache_all_builds}}" target="_blank">
            <input type="submit" value="See all builds" />
        </form>
        <form action="/home" method="post">
            <input type="submit" value="Queue another build" method="post">
        </form>
    </div>
    <p>Build ID: {{ token }}</p>
    <p>Build progress:</p>
    <textarea  
        id="build_output" rows="30" cols="100" readonly autocomplete="off">
    </textarea>
    <script>
      function reload() {
            var output = document.getElementById('build_output');
            output.scrollTop = output.scrollHeight;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{{apache_build_log}}");
            xhr.onload = function() {
                if (xhr.status == 200) {
                    output.textContent = xhr.responseText; }
            }
            xhr.send();
        }
      setInterval(reload,5000)
    </script>

  </body>
{% endif %}

</html>
