<!doctype html>
<title>ArduPilot Terrain Generator</title>
<h1>ArduPilot Terrain Generator</h1>

{% if error %}
  <p>Error: {{ error }}!</p>
{% else %}
  <p>Terrain Generation complete. You can download from: <a href="{{ urlkey }}" download="terrain.zip">here</a>.</p>
  <p>This should be unzipped to the autopilot's SD card, within in the "APM/terrain" folder.</p>
  <p>This download will be available for 24 hours.</p>
{% endif %}

{% if outsideLat %}
  <p>Tiles outside of +60 to -60 latitude were requested, which are not covered by the terrain database. These tiles are not included in the generated zip file.</p>
{% else %}
<p></p>
{% endif %}

<br />

<footer>{{uuidkey}}</footer>
